* {
    margin: 0;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    background: radial-gradient(circle at center, #0033cc 0%, #001133 80%);
    color: white;
}

td {
    width: 300px;
    height: 50px;
}

th {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(255, 255, 255);
}

table {
    border-radius: 10px;
    border: 0;
    border-collapse: collapse;
}

.acoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    width: 400px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    background: #ffffff22; /* branco translúcido */
    color: white;
    border: 1px solid #ffffff55;
    backdrop-filter: blur(6px);
    transition: all 0.5s;
}

input:focus {
    background: #ffffff54; /* branco translúcido */
    color: white;
}

form {
    background: linear-gradient(140deg, #03030e 20%, #07073c 50%, #00f 80%, #00c8ff);
    padding-top: 110px;
    padding-bottom: 110px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    gap: 20px;
}

.form2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a {
    color: white;
    padding: 13px;
    background: radial-gradient(50% 50% at 50% 0, hsla(0, 0%, 100%, .8) 0, transparent 100%), #fff3;;
    color: white;
    border-radius: 7px;
    transition: all 0.5s;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}


.button {
    background: radial-gradient(50% 50% at 50% 0, hsla(0, 0%, 100%, .8) 0, transparent 100%), #fff3;;
    color: white;
    transition: all 0.5s;
}

.button:hover {
    background: white;
    color: black;
}

.cancelar {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
